.container{
    width: 100%;
    display: flex;
}

.article-list{
    margin-top: 15px;
    width: 800px;
}
.link-article{
    text-decoration: none;
}

.article-item{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 1px solid;
}

/* .article-item:hover{
    cursor: pointer;
} */

.item__img{
   /* height: 100%; */
    margin-right: 30px;
    width: 240px;
    height: 163px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}   
.item__img-source{
    max-width: 240px;
    max-height: 163px;
    width: auto;
    height: auto;
    border-radius: 8px;

    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.item__content{
    width: 100%;
}
.content__title{
    width: 100%;
    margin: 0;
    font-size: 18px;
    /* min-height: 80px; */
    color: #4b4a4a ;
    font-weight: 500;
}

.item-meta{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}


.item-meta-item{
    margin: 15px 40px 15px 0px ;
    font-size: 1.6rem;
    color: #9A9A9A;
}

/* .a hr{
    width: 340px;
    color: red;
} */

.decription-article{
    width: 100%;
    font-size: 16px;
    color: #4b4a4a;
}

.top-view{
    margin-left: 40px;
    width: 330px;
}


.header__category{
    width: 100%;
    height: 46px;
    padding: 12px 0px;
    font-size: 2.2rem;
    border-bottom: 1px solid red;
    display: flex;
}

.icon-header-retangle-category{
    width: 5px;
    background-color: red;
    margin-right: 8px;
    height: 100%;
}
.list-article-topView{
    width: 100%;
}
.link-article{
    text-decoration: none;
    
}

.side-article__item{
    display: flex;
    width: 330px;
    margin: 10px 0px;
    
}

.img__side-item{
    max-width: 100px;
    max-height: 80px;
}

.img__side-item img{
    height: 80px;
    width: 100px;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 8px;
}

.title__side-item{
    font-size: 1.6rem;
    margin-left: 8px;
    color: black;
}

.side-article__item:hover{
    opacity: 0.8;
}

.number-result{
    margin: 10px 0px 20px 0px;
    font-size: 1.4rem;
}