<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-5.15.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
</head>

<body>
    <footer class="footer">
        <div class="grid">
            <div class="footer-list">
                <div class="list">
                    <b>Cơ quan chủ quản: Công ty cổ phần Thể thao</b>
                    <p>97 Man Thiện, Quận 9, TPHCM.</p>
                    <p>Văn phòng giao dịch: 97 Man Thiện, Quận 9, TPHCM. </p>
                    <p>Điện thoại: 024.32669666</p>
                    <p>Email: info@sport24h.com.vn</p>
                    <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong,<br> P.12, Q.10, TP.HCM</p>
                    <p>Điện thoại: 028 6651 2019</p>
                </div>
                <div class="list">
                    <b>GP số: 236/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2016.</b>
                    <p>Người chịu trách nhiệm nội dung: Hoàng Phương Nam</p>
                    <p>Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                    <p>Email: kinhdoanh@sport24h.com.vn</p>
                    <p>97 Man Thiện, Quận 9, TPHCM.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>